* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Sidebar {
  /* position: fixed; */
  height: 100vh;
  width: 15vw;
  background-color: rgba(47, 47, 47, 0.046);
}

.SidebarList {
  /* display: flex; */
  position: sticky;
  height: auto;
  padding: 0;
  width: 100%;
  border: 1px, solid;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  background-color: rgba(47, 47, 47, 0.046);
  /* border: 1px solid black; */
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #6e92a7;
}

.SidebarList #active {
  background-color: #6e92a7;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.SidebarIcon {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.SidebarIcon img {
  width: 100px;
}

.SidebarIcon p {
  color: white;
  font-weight: 600;
  font-size: 13px;
}

.profileName {
  color: chocolate;
}